
.registro-usuario-container {
  background-color: var(--color-fondo-gris-claro);
  width: 100%;
  color: var(--texto-claro);
  padding: 1rem;
  border-radius: 12px;
}

.registro-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-fondo-gris-claro);
}

.registro-tab-contenido {
  background-color: var(--color-fondo-gris-claro);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--color-secundario-naranja-claro);
  border: 1px solid var(--color-primario-naranja);
}

.registro-tabs button {
  background-color: var(--color-fondo-gris-claro);
  color: var(--color-texto-claro);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.registro-tabs .tab-activa {
  background-color: var(--color-primario-naranja);
  color: var(--color-texto-negro-grafito);
}

.boton-guardar-registro {
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: .5rem;
}

.btn-guardar-registro {
  background-color: var(--color-secundario-naranja);
  color: var(--color-texto-claro);
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  max-width: 250px;
  align-self: flex-end;
  margin-bottom: 0.1rem;
}

.btn-guardar-registro:hover {
  background-color: var(--color-primario-naranja);
  color: var(--color-texto-oscuro);
}

.registro-progreso {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-fondo-gris-claro);
  border-radius: 8px;
  border: 1px solid var(--color-primario-naranja);
  box-shadow: 2px 2px 6px var(--color-secundario-naranja-claro);
}

.paso {
  flex: 1;
  text-align: center;
  font-weight: 600;
  color: var(--color-texto-claro);
  opacity: 0.5;
  transition: all 0.3s ease;
}

.paso.activo {
  color: var(--color-primario-naranja);
  opacity: 1;
  font-weight: 700;
  
}

.fila-plan {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.label-selector-planes-registro {
  color: var(--color-texto-claro);
  margin-top: .3rem;
  margin-bottom: .3rem;
  
  
}

.campo-select-plan,
.boton-ver-detalles {
  width: 40%;
  display: flex;
  flex-direction: column;
}

/* .campo-select-plan select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--color-borde);
  background-color: var(--color-fondo-claro);
  color: var(--color-texto-claro);
} */

.boton-ver-detalles button {
  padding: 0.6rem 1rem;
  background-color: var(--color-secundario-naranja);
  color: var(--color-texto-claro);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.boton-ver-detalles button:hover {
  background-color: var(--color-primario-naranja);
  color: var(--color-texto-oscuro);
}


@media screen and (max-width: 768px) {

  .fila-plan {
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.campo-select-plan,
.boton-ver-detalles {
  width: 100%;
}

  .registro-usuario-container {
    padding: 1rem;
    border-radius: 8px;
  }

  .registro-tabs {
    flex-direction: column;
    gap: 0.5rem;
  }

  .registro-tab-contenido {
    padding: 0.5rem;
    margin-top: .5rem;
  }

  .btn-guardar-registro {
    width: 100%;
    max-width: none;
    align-self: stretch;
    margin-top: .5rem;
  }

  .imagen-plan-precio {
    flex-direction: column;
    gap: 1rem
  }

  .nombre-apellido,
  .mail-telefono,
  .nacimiento-genero,
  .peso-estatura,
  .actividad-metas,
  .observaciones-boton {
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
  }

  .nacimiento-genero input,
  .nacimiento-genero select,
  .actividad-metas select {
    min-width: 100%;
  }

  .formulario-fisicos {
    padding: 1rem;
  }

  .paso {
  flex: 1;
  text-align: center;
  font-weight: 500;
  color: var(--color-texto-claro);
  opacity: 0.5;
  transition: all 0.3s ease;
  font-size: 1rem;
 
}

.paso.activo {
  color: var(--color-primario-naranja);
  opacity: 1;
  font-weight: 700;
}
  .registro-progreso {
  flex-wrap: nowrap;
  gap: .2rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}




}
