/* :root{
  --bg-body: #f6f7fb;
}
 */
/* Body */
/* body, #root {
  height: 100%;
  background: var(--bg-body);
} */

/* Ajustes del layout de login */
.login-container {
    min-height: 100vh;
}

/* Imagen izquierda en desktop */
.hero-image {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* Overlay con logo centrado (opcional) */
.hero-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.login-text {
    color: var(--color-primario-naranja);
}

.login-btn {
    background-color: var(--color-primario-naranja);
}

.login-btn:hover {
    background-color: var(--color-secundario-naranja);
}

.login-subtitulo {
    color: var(--color-texto-secundario);
}

.login-text-secondary {
    color: var(--color-texto-secundario);
    font-size: 0.9rem !important;
    font-weight: 400;
}

.login-form-control {
    padding: 12px 16px;
    padding-right: 3.2rem;
    font-size: 0.8rem;
    color: var(--color-texto-claro);
    background-color: var(--color-fondo-gris-humo);
    padding-right: 3rem;
    /*mas espacio para eye*/
    width: 100%;
    box-sizing: border-box;
    height: 2.75rem;
    /* fija una altura consistente (ajustar a tu diseño) */
    line-height: 1.25rem;
}

.login-form-control:focus {
    color: var(--color-texto-claro);
    background-color: var(--color-fondo-gris-humo);
    border-color: var(--color-primario-naranja);
    outline: 0;
    box-shadow: 0 0 0 .15rem var(--color-sombra-focus-naranja);
}

/*para que no cambie el estilo con autofill*/
.login-form-control:-webkit-autofill,
.login-form-control:-webkit-autofill:hover,
.login-form-control:-webkit-autofill:focus,
.login-form-control:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--color-fondo-gris-humo) inset !important;
    box-shadow: 0 0 0 .15rem var(--color-fondo-gris-humo) inset !important;
    -webkit-text-fill-color: var(--color-texto-claro) !important;
    transition: background-color 5000s ease-in-out 0s !important;
    /* evita parpadeo */
}

/* .login-input-wrapper {
    position: relative;
    display:block;
    padding-bottom: 1.25rem;
    /* espacio para la invalid-feedback que aparece debajo 
} */

.login-input-wrapper {
  display: flex;
  align-items: center;        /* centra verticalmente */
  gap: .5rem;                 /* separación horizontal */
  width: 100%;
}

.login-btn-password-toggle {
    position: absolute;
    top: 50%;
    right: 1rem;
    /* distancia desde el borde derecho */
    transform: translateY(-50%);
    display: inline-flex;
   align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-secundario-naranja);
}

.login-btn-password-toggle:focus {
    outline: none;
    box-shadow: none;
    /* box-shadow: 0 0 0 .15rem rgba(255, 153, 51, 0.15);
    /* ejemplo color foco naranja 
    border-radius: 4px; */
}

.login-btn-password-toggle:focus-visible {
    outline: none;
    box-shadow: 0 0 0 .15rem var(--color-primario-naranja);
    /* ejemplo color foco naranja */
    border-radius: 4px;
}

.login-btn-password-toggle:hover {
    color: var(--color-secundario-naranja-claro);
}

.login-btn-password-toggle svg {
    color: var(--color-sombra-focus-naranja);
    /* gris por defecto */
}

.form-control.is-invalid+.login-btn-password-toggle svg,
.form-control.is-invalid~.login-btn-password-toggle svg {
    color: #dc3545;
    /* rojo si el input tiene is-invalid (opcional) */
}

/*para el icono de invalid en el password*/
.login-input-wrapper .invalid-feedback {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  margin-top: .25rem;
  font-size: .875rem;
  color: #dc3545;
  white-space: normal;
}

.login-olvidaste-pass {
    margin-top: 2rem;
}
/* Ajustes responsive: ocultar imagen a móviles */
@media (max-width: 991.98px) {
    .hero-image {
        display: none;
    }
}