.select-nombres-wrapper {
  margin-right: .5rem;
}

.select-nombres-label {
  font-weight: bold;
  margin-right: 0.5rem;
  color: var(--color-primario-naranja); /* opcional para integrarlo con tu dashboard */
}

.select-nombres-dropdown {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-primario-naranja);
  background-color: var(--color-fondo-mas-oscuro); /* fondo oscuro */
  color: var(--color-texto-claro);
}

.select-nombres-dropdown option {
  background-color: var(--color-fondo-mas-oscuro); /* fondo oscuro */
  color: var(--color-texto-claro);
}
