/* ==========================================================================
   Archivo: crud_ejercicio.css
   Descripción: (DF) Estilos para la página crud_ejercicio (se accede desde el home_administrador)
   ========================================================================== */

/* BORRAR swal2 (es del sweet alert) CUANDO SE IMPLEMENTE MODAL*/

.swal2-icon.swal2-warning {
  color: #ffcc00 !important;        /* color del icono */
  border-color: #ffcc00 !important; /* color del borde del icono */
}

.swal2-icon {
  width: 45px !important;
 height: 45px !important;

}
.swal2-popup {
    background-color: #2b2b2b !important;
  font-size: 0.9rem !important; /* Ajustá a gusto: 0.8rem, 14px, etc. */
  border: 3px solid #ffcc00;
}
.swal2-title {
  font-size: 1.1rem !important;
}

.swal2-html-container {
  font-size: 0.8rem !important;
}
.swal2-popup {
  width: 300px !important; /* o cualquier ancho que prefieras */
  max-width: 90vw; /* para que sea responsive */
}

.swal2-confirm,
.swal2-cancel {
  font-size: 0.75rem !important;
  padding: 6px 16px !important;
  border-radius: 4px !important;
}

/* fin sweet alert*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fondo-body);
    color: var(--color-texto-claro);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/*  ----------------- Menu ------------------------    */
.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-fondo-mas-oscuro);
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    padding-left: 20px;
}

.logo img {
    width: 40px;
    height: auto;
}

.menu-title {
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
}

.close-app {
    background: transparent;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-texto-claro);
    padding-right: 20px;
     transition: background-color 0.2s ease, color 0.2s ease;
}

 .close-app:hover {
     background-color: rgba(255, 255, 255, 0.1);
     color:var(--color-primario-naranja);}
/* fin menu */

.container {
    background-color: var(--color-fondo-gris-claro);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--color-sombra-container);
    width: 80%;
    max-width: 80%;
    margin-top: 70px;
    /*deja margen para el menu*/
}

h1 {
    text-align: center;
    color: var(--color-primario-naranja);
}

label {
    color: var(--color-primario-naranja-claro);
    padding-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 5px;
}


.form-group label {
    font-weight: normal;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="number"],
input[type="url"],
select,
textarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--color-borde-input);
    background-color: var(--color-fondo-claro);
    color: var(--color-texto-negro-grafito);
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    border-color: var(--color-borde-focus);
    outline: none;
    box-shadow: 0 0 5px var(--color-sombra-focus);
}

button[type="submit"],
button[type="button"] {
    background-image: var(--gradiente-boton);
    color: var(--color-fondo-mas-oscuro);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-image 0.3s ease;
    width: 120px;
    text-align: center;
}


.etiqueta-carga {
    color: var(--color-primario-naranja);
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.8em;
    float: right;
}

.etiqueta-carga:hover {
    color: var(--color-primario-naranja-claro);
}

button[type="submit"]:hover {
    background-image: var(--gradiente-boton-hover);
    box-shadow: 0 2px 5px var(--color-sombra-boton-hover);
}

#imagenPreview,
#videoPreview {
    margin-top: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 4px;
}

/* Estilos para el layout de 2 columnas */
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.columna-izq {
    flex: 0 0 40%;
    padding: 10px;
    border: 1px solid var(--color-borde);
    background-color: var(--color-fondo-mas-oscuro-con-transp);
}

.columna-der {
    flex: 0 0 60%;
    display: flex;
    border: 1px solid var(--color-borde);
    background-color: var(--color-fondo-mas-oscuro-con-transp);
    flex-direction: column;
    align-items: stretch;
    align-items: stretch;
    padding: 10px;
    align-items: center;
}

.imagen-preview {
    text-align: center;
    margin-bottom: 20px;
}

.columna-der h4 {
    margin-bottom: 10px;
}

.imagen-preview img {
    max-width: 100%;
    max-height: 500px;
}


/* Estilos para hacer la página responsive mobile*/
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 5px;
        margin-left: 0px;
        margin-right: 0px;

    }

    /* menu */
    .logo {
        padding-left: 10px;
    }

    .logo img {
        width: 30px;
        height: auto;
    }

    .menu-title {
        font-size: 1.2rem;
    }

    .close-app {
        font-size: 1.5rem;
        padding-right: 10px;
    }

    /* fin menu*/
    .form-container {
        flex-direction: column;
    }

    .columna-izq {
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
    }

    .columna-der {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        padding: 5px;
    }

}


