/* ==========================================================================
   Archivo: style.css usado en index.html
   Descripción: Estilos para la página de contacto.
   Utilizado en: contacto.html
   ========================================================================== */
 :root {
    --altura-carousel: 100vh;
}


body {
    padding-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fondo-body);
}

/* ------------------------- Navbar ------------------------------ */
#mainNavbar {
    background-color: var(--color-fondo-mas-oscuro-con-transp);
    border-bottom: 3px solid #ff6f00;
}


.navbar {
    transition: background-color 1.0s ease-in-out, padding 1.0 ease-in-out;
    /*tarda un segundo en acomodarse cuando pasa de pc a mobile*/
}

.navbar-brand img {
    width: 50px; 
    height: auto; /* Mantiene la proporción */
}

.nav-link {
    color: var(--color-texto-claro);
    margin-left: 1rem;
    transition: color 0.3s ease;
    /*ease: efecto de transicion lento, rapido, lento*/
}

.nav-link:hover,
.nav-link.active {
    color: var(--color-primario-naranja);
}

.btn-resaltado {
    border-color: var(--color-primario-naranja);
    color: var(--color-primario-naranja);
}

.btn-resaltado:hover {
    background-color: var(--color-primario-naranja);
    color: var(--color-texto-claro);
}

/*  -----------------------------  Carousel  ------------------------ */
#ppalCarousel {
    height: 100%;
    display: flex; /* Para que los hijos no expandan el div */
    align-items: center; /* Centra el contenido */
}


.carousel-section {
    height: var(--altura-carousel);
    position: relative;
}

.carousel-inner,
.carousel-item {
 
    max-height:var(--altura-carousel);
    overflow: hidden;
}

.carousel-item img {
 
   height: auto;
   clip-path: inset(0 0 7% 0); /* Recorta la parte inferior */
    max-height: var(--altura-carousel);
    object-fit: cover; /*cubre el ancho de la pantalla*/
    filter: brightness(0.6); /* imagenes más oscuras */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    opacity: 0; /* inicialmente oculto para la animacion */
    animation: none;/* sin animacion */
    display: block !important; /* Asegurar que esté visible */
}

.carousel-item.active .carousel-caption {
    opacity: 1;/* se hace visible cuando esta activo */
    animation: fadeInUp 1s ease-out forwards;/* se aplica animacion para texto */
}

.carousel-caption h4 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-texto-claro);
    margin-bottom: 0.75rem;
}

.carousel-caption p {
    font-size: 1.4rem;
    color: var(--color-texto-claro);
}

/*  --------------------------------------- Seccion Beneficios (cards) ------------------------*/
.card-body i {
    color: var(--color-primario-naranja);
}

.card-body {
    background-color: var(--color-fondo-claro);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}

.card-body:hover {
    transform: translateY(-5px); /* Elevar ligeramente */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

/* ------------------------------------   Bio Entrenador   ------------------------------------  */
#entrenador {
    background-color: var(--color-fondo-mas-oscuro);
    color: var(--color-texto-secundario);
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2), /* Sombra superior */
        0px 10px 20px rgba(0, 0, 0, 0.2); /* Sombra inferior */
}

#entrenador i {
    color: var(--color-primario-naranja)
}

#entrenador li {
    color: var(--color-texto-secundario)
}

video {
    width: 100%;
    height: auto;
    max-height: 400px;
}

/*   ------------------ seccion planes  -------------------- */

.mi-boton {
    color: var(--color-primario-naranja);
    border-color: var(--color-primario-naranja);
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.mi-boton:hover {
    background-color: var(--color-primario-naranja);
    color: var(--color-texto-claro);
}

.card-body h5 {
    color: var(--color-primario-naranja);
}

#planes h3 {
    color: var(--color-texto-claro);
    font-style: italic;
    font-size: large;
    padding-bottom: 1rem;
}

#planes .card ul li {
    margin-bottom: 0.5rem;
    display: flex;/* Usar flex para alinear icono y texto */
    align-items: center;
}

#planes .card ul li .fa-li {
    position: static; /* Resetear posición de FontAwesome */
    margin-right: 0.5rem;
}

#planes .card ul li i {
    color: var(--color-exito);/* Verde para check */
}

#planes .card ul li.text-muted i {
    color: var(--color-texto-muted); /* Gris para x */
}

.card-body hr {
    border: solid var(--color-primario-naranja) 1px;
}

/* ------------------------ Seccion Testimonio  ----------------------------------- */
#testimonios {
    position: relative;
    background-image: url('../Recursos/Imagenes/FTX (8).jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 80px 20px;
    text-align: center;
    color: var(--color-fondo-gris-claro);
}

#testimonios::before { /* agrega antes una capa mas oscura */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /*opacidad*/
    z-index: 1;
}

#testimonios .container {
    position: relative;
    z-index: 2;
}

#testimonios h2 {
    color: var(--color-primario-naranja);
    margin-bottom: 15px;
    font-size: 2.2rem;
}

#testimonios h2::after { /* agrega despues del h2 la linea decorativa */
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--color-fondo-gris-claro);
    opacity: 0.7;
    margin: 10px auto 40px auto;
}

.testimonial-slider {
    max-width: 700px;/* Limita el ancho */
    margin: 0 auto;
    position: relative;
}

.testimonial-item {
    display: none;

    opacity:0;
}


.carousel-item.active .testimonial-text {
    opacity: 1;
    animation: fadeInUp2 1.5s ease-out forwards;
}

.carousel-item.active .autor-info {
    opacity: 1;
    animation: fadeInUp2 1s ease-out forwards;
}

@keyframes fadeInUp2 {
    from {
        opacity: 0;
        transform: translateY(20px); /* Comienza más abajo */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Se mueve a su posición final */
    }
}



.testimonial-text {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 30px;
    color: var(--color-texto-claro);
    font-style: italic;
}

.autor-info {
    margin-top: 20px;
}

.autor-imagen {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid var(--color-primario-naranja);
    margin: 0 auto 15px auto;
}

.autor-nombre {
    display: block;
    font-weight: bold;
    color: var(--color-texto-secundario);
    font-size: 1.1rem;
}

.autor-titulo {
    display: block;
    font-size: 0.9rem;
    color: var(--color-texto-secundario);
}

.testimonial-nav {
    margin-top: 30px;
}

.testimonial-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: var(--background-light);
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.testimonial-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/*   ------------------------------------ seccion FAQ  ------------------------------   */
.accordion { 
    --bs-accordion-border-color: var(--color-primario-naranja); /*cambia color borde exterior */
}

.accordion-button:not(.collapsed) { /*formato cuando está desplegado*/
    color: var(--color-primario-naranja) !important;
    background-color: var(--color-fondo-mas-oscuro);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--color-primario-naranja);

}

.accordion-button:not(.collapsed)::after { /*cambia la flecha por defecto cuando está desplegado*/
    background-image: url(../Recursos/Imagenes/flecha-contraer.png) !important;
    transform: rotate(0deg) !important;
}

/* ----------------------------------- Footer -------------------------------------------- */
footer {
    background-color: var(--color-fondo-mas-oscuro); 
    color: var(--color-texto-gris-medio);
    text-align: center;
    padding: 30px 20px;
    margin-top: 60px; 
    border-top: 1px solid #495057; 
  }

 footer a {
    color: var(--color-primario-naranja);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
 footer a:hover {
    color: var(--color-texto-gris-medio);
  }
  
.modal-body p {
    text-align: left;
}
/* ------------------------------ Estilos generales --------------------------- */
section {
    padding: 60px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--color-texto-claro);
    font-weight: bold;
}


/* Responsive para celulares */
@media (max-width: 768px) { 
    body {
        padding-top: 0;
    }

    .navbar-brand img {
        width: 40px; /* Cambia el ancho */
        height: auto; /* Mantiene la proporción */
    }

    .carousel-caption {
        width: 90%;
        padding: 10px;
    }

    .carousel-caption p {
        font-size: 0.6rem;
    }

    #ppalCarousel .carousel-caption h4 {
        font-size: 1rem;
    }


    .carousel-section {
        margin-top: 15px;
        /* Ajusta según la altura del navbar, sino se superpone el corousel con el navbar*/
        height: auto;
        /* Permite que la siguiente sección se ajuste mejor */
    }

    section:not(#inicio) {
        width: 90%;
        margin: auto;
    }

    #inicio {
        padding-bottom: 0px;
    }
 /*   section {
        padding: 40px 0;
    }
*/
    section h2 {
        margin-bottom: 30px;
    }

}

