.reset-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

/* Lado izquierdo */
.reset-left {
  width: 50%;
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.reset-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}

.reset-logo {
  position: relative;
  width: 80px;
  margin-bottom: 1rem;
  z-index: 2;
}

.reset-texto {
  position: relative;
  z-index: 2;
  text-align: center;
}

.reset-texto h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.reset-texto p {
  font-size: 1rem;
}

/* Lado derecho */
.reset-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo-mas-oscuro);
}

.reset-form-container {
  width: 80%;
  max-width: 600px;
  background-color: var(--color-fondo-mas-oscuro);
  padding: 2rem;
  border-radius: 12px;
  /* box-shadow: 0 4px 8px var(--color-primario-naranja); */
}

.reset-form-container h2 {
  margin-bottom: 0.5rem;
  color: var(--color-primario-naranja);
}

.reset-form-container p {
  margin-bottom: 2rem;
  color: var(--color-texto-claro);
}

.reset-form label {
  display: block;

  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--color-texto-claro);
}

.input-email::placeholder {
  color: var(--color-texto-claro) /* naranja */
}


.reset-form input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid var(--color-texto-claro);
  background-color: var(--color-fondo-gris-humo);
  color:var(--color-texto-claro);
  
  margin-bottom: 1rem;
}

.reset-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--color-primario-naranja);
  color: var(--color-texto-claro);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.reset-form button:hover {
  background-color: var(--color-secundario-naranja);
}

.reset-links {
  margin-top: 1rem;
  text-align: center;
}

.reset-links button {
  padding: 0.5rem;
  background-color: var(--color-primario-naranja);
  color: var(--color-texto-claro);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.input-error {
  border: 2px solid #dc3545;
  background-color: #fff0f0;
}

.error {
  color: #dc3545;
  font-size: 0.85rem;
  margin-top: 0.25rem;
  display: block;
}
