/* ==========================================================================
   Archivo: crea_rutina.css
   Descripción: (DF) Estilos para la página crea_rutina.html (se accede desde el home_administrador)
   ========================================================================== */

body {
    background-color: var(--color-fondo-body);
    color: var(--color-texto-claro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin-top: 70px;
    /* para dejar espacio para el menu*/
}

/*  ----------------- Menu ------------------------    */
.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-fondo-mas-oscuro);
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    padding-left: 20px;
}

.logo img {
    width: 40px;
    height: auto;
}

.menu-title {
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
}

.close-app {
    background: transparent;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-texto-claro);
    padding-right: 20px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.close-app:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-primario-naranja);
}

/* fin menu */

h1 {
    color: var(--color-primario-naranja);
    text-align: center;
    margin-bottom: 20px;
}

th {
    color: var(--color-texto-claro) !important;
    text-align: center;
    margin-bottom: 20px;
}

.select-con-lupa select {
    border-right: none;
}

.select-con-lupa .input-group-text {
    background-color: #fff;
    border-left: none;
    cursor: pointer;
}


form {
    background-color: var(--color-fondo-gris-claro);
    /* Fondo del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--color-sombra-container);
    margin-bottom: 20px;
    /* Espacio inferior */
    overflow-x: auto;
}

label {
    font-weight: bold;
    color: var(--color-primario-naranja);
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    background-color: var(--color-fondo-claro);
    /* Fondo claro para inputs */
    color: var(--color-primario-naranja);
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--color-borde-focus);
    box-shadow: 0 0 5px var(--color-sombra-focus);
}


textarea {
    resize: none;
    height: 80px;
}

.btn-primary {
    background: var(--gradiente-boton);
    color: var(--color-texto-claro);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    margin-top: 0px;
    font-weight: bold;
}

.btn-primary:hover {
    background: var(--gradiente-boton-hover);
    box-shadow: 0 2px 5px var(--color-sombra-boton-hover);
}

.form-section {
    background-color: var(--color-fondo-gris-claro);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px var(--color-sombra-container);
}

.form-section h2 {
    color: var(--color-primario-naranja);
    /* Título de sección */
    text-align: left;
    margin-bottom: 20px;
}


.ejercicio-item {
    margin-bottom: 20px;
    /* Espacio entre cada ejercicio */
    padding: 15px;
    border: 1px solid var(--color-borde);
    border-radius: 10px;
    background-color: var(--color-fondo-gris-claro);
}

.ejercicio-item .form-group {
    margin-bottom: 15px;
    /* Espacio entre campos dentro de un ejercicio */
}

.acciones-ejercicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    /* Espacio entre la etiqueta y los botones */
    margin-top: 0;
    height: 100%;
}

.acciones-ejercicio label {
    font-weight: bold;
    color: var(--color-primario-naranja);
    margin-bottom: 5px;
    display: block;
    font-size: 0.9em;
}

.acciones-ejercicio div {
    /* Estilos para el contenedor de botones */
    display: flex;
    gap: 5px;
}


.botones_finales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}

.boton_final {
    width: 45%;
}

#radioOptionsContainer {
    position: relative;
    z-index: 1001;
}

/* Estilos para tablet */
@media (min-width: 769px) and (max-width: 1199.98px) {

    .acciones-ejercicio div {
        flex-direction: column;
        align-items: flex-end;
        padding-right: 2px;
    }


    .eliminar-fila-btn {
        margin-right: 5px;
    }
}

/* Estilos para movil */
@media (max-width: 768px) {

    /* menu */
    .logo {
        padding-left: 10px;
    }

    .logo img {
        width: 30px;
        height: auto;
    }

    .menu-title {
        font-size: 1.2rem;
    }

    .close-app {
        font-size: 1.5rem;
        padding-right: 10px;
    }
    /* fin menu*/

    form {
        padding: 0px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn-primary {
        width: 100%;
    }

    .boton_final {
        width: 45%;
    }
}

/* Estilo para resaltar la fila guardada IMPLEMENTAR DESPUES*/
.fila-guardada {
    background-color: var(--color-primario-naranja-claro) !important;
    transition: background-color 0.5s ease;
}


/* Estilos para los nuevos botones de acción en la tabla */
.agregar-fila-btn {
    background-color: var(--color-primario-naranja);
    color: var(--color-texto-claro);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 5px;
}

.agregar-fila-btn:hover {
    background-color: var(--color-secundario-naranja);
}

.eliminar-fila-btn {
    background-color: #dc3545;
    color: var(--color-texto-claro);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
}

.eliminar-fila-btn:hover {
    background-color: #c82333;
}

/* BORRAR swal2 (es del sweet alert) CUANDO SE IMPLEMENTE MODAL*/

.swal2-icon.swal2-warning {
  color: #ffcc00 !important;        /* color del icono */
  border-color: #ffcc00 !important; /* color del borde del icono */
}

.swal2-icon {
  width: 45px !important;
 height: 45px !important;

}
.swal2-popup {
  font-size: 0.9rem !important; /* Ajustá a gusto: 0.8rem, 14px, etc. */
  border: 3px solid #ffcc00;
}
.swal2-title {
  font-size: 1.1rem !important;
}

.swal2-html-container {
  font-size: 0.8rem !important;
}
.swal2-popup {
  width: 300px !important; /* o cualquier ancho que prefieras */
  max-width: 90vw; /* para que sea responsive */
}

.swal2-confirm,
.swal2-cancel {
  font-size: 0.75rem !important;
  padding: 6px 16px !important;
  border-radius: 4px !important;
}
