.ejercicios-dia-container {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--color-fondo-gris-claro);
  border-radius: 8px;
}

.bloque-semana {
  margin-bottom: 2rem;
}

.bloque-dia {
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: var(--color-sombra-gris-claro);
  border-left: 4px solid var(--color-primario-naranja);
  border-radius: 6px;
}

.ejercicio-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.6rem 0;
  cursor: pointer;
  padding: 0.6rem;
  background-color: var(--color-fondo-gris-claro);
  border: 2px solid var(--color-texto-claro);
  border-radius: 6px;
  transition: box-shadow 0.3s ease;
  color: var(--color-texto-claro);

}


  .ejercicio-item.expandido {
  border: 3px solid var(--color-primario-naranja);
  transition: border 0.3s ease, box-shadow 0.3s ease;
box-shadow: 0 0 10px var(--color-texto-claro);



}



.ejercicio-item:hover {
  background-color: var(--color-fondo-gris-claro);
}

/* .ejercicio-item-expandido {
  box-shadow: 0 0 10px var(--color-sombra-container);
  background-color: var(--color-primario-naranja);
} */

.ejercicio-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  color: var(--color-texto-claro);
}

.checkbox-ejercicio {
  transform: scale(1.2);
  accent-color: var(--color-primario-naranja);
}

.nombre-ejercicio {
  flex-grow: 1;
}

.ejercicio-detalle {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: var(--color-texto-claro);
}

.ejercicio-detalle a {
  color: var(--color-primario-naranja);
  text-decoration: underline;
}

.ejercicio-item.hecho {
  background-color: #e0ffe0;
}
.imagen-ejercicio {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.checkbox-ejercicio {
  width: 20px;
  height: 20px;
  accent-color: green;
  cursor: pointer;
  transition: transform 0.2s ease;
}

