/*-- ==========================================================================
   Archivo:style-home-admin.css
   Descripción: Contiene los estilos de home_administrador.css (DF)
   ========================================================================== */

/* ---- variables globales en directoria principal css/colores.html -----*/
body {
  background-color: var(--color-fondo-body);
  color: var(--color-texto-principal);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Ajuste para compensar el header fijo */
body {
  padding-top: 90px;
}

/* ------------------------- Navbar ------------------------------ */
#mainNavbar {
  background-color: var(--color-fondo-mas-oscuro-con-transp);
  border-bottom: 3px solid #ff6f00;
}

#navbarNav {
  flex-basis: auto;
}

/* Forzar ocultar menú colapsable en desktop  */
#navbarNav.collapse.navbar-collapse.d-md-none {
  display: none !important;

}

.navbar {
  transition: background-color 1.0s ease-in-out, padding 1.0 ease-in-out;
  /*tarda un segundo en acomodarse cuando pasa de pc a mobile*/
}


.navbar-brand img {
  width: 40px;
  height: auto;
}

.nav-link {
  color: var(--color-texto-claro);
  margin-left: 1rem;
  transition: color 0.3s ease;
  /*ease: efecto de transicion lento, rapido, lento*/
}

.nav-link:hover,
.nav-link.active {
  color: var(--color-primario-naranja);
}

.nav-item a {
  display: none;
}

.btn-resaltado {
  border-color: var(--color-primario-naranja);
  color: var(--color-primario-naranja);
}

.btn-resaltado:hover {
  background-color: var(--color-primario-naranja);
  color: var(--color-texto-claro);
}

.nav-item:last-child a {
  display: inline-block;
}

.titulo-admin {
  font-size: 1.5rem;
  margin-bottom: 0;
  white-space: nowrap;
  color: var(--color-texto-claro);
  line-height: inherit;
  padding-left: 350px;
}

/* ------------------------- Cards ---------------------*/
.card-cliente {
  background-color: var(--color-fondo-claro);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: var(--color-texto-negro-grafito);
}

.card-cliente-imagen {
  background-color: var(--color-fondo-body);
  border-radius: 8px;
  color: var(--color-texto-negro-grafito);
}

.card-link:hover .card-cliente {
  box-shadow: 0 8px 25px var(--color-borde-sombra-focus);
  transform: translateY(-5px);
}

.card-cliente .card-body {
  padding: 1.5rem;
}

.card-cliente .icon-cliente {
  color: var(--color-marron-naranja);
}

.card-cliente .card-title {
  color: var(--color-primario-naranja);
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.card-cliente .card-text {
  color: var(--color-texto-negro-grafito);
  font-size: 0.9rem;
}




/* Style para movil  */
@media (max-width: 767.98px) {

  .card-cliente .card-body {
    padding: 1rem;
  }

  .col-md-6.col-lg-4 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-brand img {
    width: 30px;
    height: auto;
  }

  .nav-item a {
    display: inline-block;
  }

  .titulo-admin {
    font-size: 1.1rem;
    margin-bottom: 0;
    white-space: nowrap;
    /* Evitar que el texto se divida */
    color: var(--color-texto-claro);
    line-height: inherit;
    padding-left: 0px;
  }

  /* Ajustar contenedor  */
  .titulo-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}