
.input-icon-validate {
    position: relative;
}

.input-icon-validate input {
    padding-right: 2.2em !important;
}

.input-icon-validate .icon-validate {
    position: absolute;
    right: 0.6em;
    top: 40%;
    transform: translateY(-50%);
    font-size: 1.2em;
    pointer-events: none;
    display: none;
    height: 1em;
    line-height: 1;
}
.input-icon-validate .icon-validate.valid {
    color: #28a745;
    display: inline;
}
.input-icon-validate .icon-validate.invalid {
    color: #dc3545;
    display: inline;
}

.input-warning {
    color: #dc3545;
    font-size: 0.85em;
    margin-top: -10px;
    margin-bottom: 10px;
    min-height: 18px;
    display: none;
    font-weight: 500;
    letter-spacing: 0.01em;
}
