/* ---- variables globales en directoria principal ccc/colores.html -----*/
body {
  background-color: var(--color-fondo-body);
  color: var(--color-texto-principal);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Ajuste para compensar el header fijo  */
body {
  padding-top: 90px;
}

/* ------------------------- Navbar ------------------------------ */
#mainNavbar {
  background-color: var(--color-fondo-mas-oscuro-con-transp);
  border-bottom: 3px solid #ff6f00;
}


.navbar {
  transition: background-color 1.0s ease-in-out, padding 1.0 ease-in-out;
  /*tarda un segundo en acomodarse cuando pasa de pc a mobile*/
}

.navbar-brand img {
  width: 40px;
  height: auto;
  /* Mantiene la proporción */
}
/*estilos logo*/

.nav-link {
  color: var(--color-texto-claro);
  margin-left: 1rem;
  transition: color 0.3s ease;
  /*ease: efecto de transicion lento, rapido, lento*/
}

.nav-link:hover,
.nav-link.active {
  color: var(--color-primario-naranja);
}

.btn-resaltado {
  border-color: var(--color-primario-naranja);
  color: var(--color-primario-naranja);
}

.btn-resaltado:hover {
  background-color: var(--color-primario-naranja);
  color: var(--color-texto-claro);
}


/* Card de presentacion del Usuario */
.card-usuario {
  width: 18rem;
  background-color: transparent;
  border-color: transparent;
  margin: auto;
  align-items: center;
 
}

.card-usuario img {
  width: 125px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-primario-naranja);
  box-shadow: 0px 0px 15px rgba(255, 140, 0, 0.6);
}

.card-usuario .card-title {
  color: var(--color-primario-naranja);
  font-weight: bold;
  margin-bottom: 0.75rem;
  text-align: center;
}

.card-usuario .card-text {
  color: var(--color-texto-claro);
  font-weight: normal;
  margin-bottom: 0.75rem;
  text-align: center;
}

/* card imagen de estadistica (temporal) */

.profile-pic {
  width: 300px;
  height: 150px;
 
  object-fit: cover;
  margin: 0 auto 1rem auto;
  display: block;
  border: 3px solid var(--color-primario-naranja-claro, #ff8f00);
}
.card-title-imagen { 
  color: var(--color-primario-naranja);
  font-weight: bold;
  margin-bottom: 0.75rem;
  text-align: center;
}

.perfil-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* resto de las Cards */
.card-custom {
  background-color: var(--color-fondo-claro);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: var(--color-texto-negro-grafito);
}

.card-custom-imagen {
  background-color: var(--color-fondo-body);
  border-radius: 8px;
  color: var(--color-texto-negro-grafito);
}

.card-link:hover .card-custom {
  box-shadow: 0 8px 25px var(--color-borde-sombra-focus);
  transform: translateY(-5px);
}

.card-custom .card-body {
  padding: 1.5rem;
}

.card-custom .icon-custom {
  color: var(--color-primario-naranja);
}

.card-custom .card-title {
  color: var(--color-primario-naranja);
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.card-custom .card-text {
  color: var(--color-texto-negro-grafito);
  font-size: 0.9rem;
}



/* Responsive para mobile */
@media (max-width: 767.98px) {
  .header-title {
    font-size: 1.5rem;
  }

  nav button {
    margin-right: 10px;
  }

  .navbar-brand img {
  width: 30px;
  height: auto;
}


  .card-custom .card-body {
    padding: 1rem;
    /* padding chico sobre mobile */
  }

  .col-md-6.col-lg-4 {
    width: 90%;
    /* hace las tarjetas un poco mas chicas pra mobile */
    margin-left: auto;
    margin-right: auto;
  }
}

/* Forzar ocultar menú colapsable en desktop */
@media (min-width: 768px) {
  #navbarNav.collapse.navbar-collapse.d-md-none {
    display: none !important;
  }
}




