/* Contenedor del formulario en desktop */
.reset-form-container-primer-cambio {
  width: 80%;             
  background-color: var(--color-fondo-mas-oscuro);
  /* border: 1px solid var(--color-primario-naranja); */
  padding: 1.5rem;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Títulos y textos */
.reset-form-container-primer-cambio h2 {
  color: var(--color-primario-naranja);
  margin-bottom: 0.5rem;
}

.reset-form-container-primer-cambio p {
  color: var(--color-texto-secundario);
  margin-bottom: 1.5rem;
}

/* Botón */
.actualizar-button {
  background-color: var(--color-primario-naranja);
  color: var(--color-texto-claro);
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  width: 45%;
  margin: 0 auto
}

/* Links */
.reset-links {
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  align-items: center;;

}

/* Mensajes de error */
.reset-form-primer-cambio .error {
  display: block;
  color: var(--color-secundario-naranja, #ff6600);
  font-size: 0.85rem;
  margin-top: 0.3rem;
  word-wrap: break-word;
  white-space: normal;
  min-height: 1.2rem;   /* altura mínima para evitar que el contenedor salte */
}

/* En pantallas pequeñas ocultamos el lado izquierdo */
@media (max-width: 768px) {
  .reset-left {
    display: none; /* oculta la imagen y el texto motivacional */
  }

  .reset-right {
    width: 100%; /* el formulario ocupa todo el ancho */
    display: flex;
    justify-content: center;
  }

  .reset-form-container-primer-cambio {
    width: 100%;
    max-width: 100%;
    min-width: auto;
  }
}
