/* body {

     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-color: var(--color-fondo-mas-oscuro);
    margin: 0;
     padding: 0;
     
     height: 100vh;
 }
 */