.pago-layout {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.formulario-pago {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: var(--color-fondo-gris-claro);
  padding: 1rem;
  border-radius: 8px;
}

.campo-form {
  display: flex;
  flex-direction: column;
}

.campo-form input,
.campo-form select {
  padding: 0.5rem;
  border: 1px solid var(--color-primario-naranja);
  border-radius: 6px;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.preview-comprobante {
  flex: 1;
  min-width: 300px;
  background-color: var(--color-fondo-gris-claro);
  padding: 1rem;
  border-radius: 8px;
  /* border: 1px solid var(--color-primario-naranja); */
  color: var(--color-texto-claro);
  text-align: center;
}

.preview-frame {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 6px;
}

.custom-file-upload {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--color-secundario-naranja);
  color: var(--color-texto-claro);
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.custom-file-upload:hover {
  background-color: var(--color-primario-naranja);
   color: var(--color-texto-oscuro);
}

.btn-guardar-pago {
  padding: 0.75rem;
  background-color: var(--color-secundario-naranja);
  color: var(--color-texto-claro);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-guardar-pago:hover {
  background-color: var(--color-primario-naranja);
   color: var(--color-texto-oscuro);
}