/* front_react/ftxapp/src/pages/AdminDashboard/AdminDashboard.css */
.admin-dashboard {
  min-height: 100vh;
  background-color: var(--color-fondo-body);
  display: flex;
  flex-direction:column;
  
}

.dashboard-main {
  flex: 1;
 
  margin-top: .1rem;
  padding-top: .1rem;
  padding-bottom: .2rem;
  background-color: var(--color-fondo-body-claro);
  border-radius: 20px;
}

/* Animaciones de entrada */
.admin-dashboard {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive para pantallas muy pequeñas */
@media (max-width: 320px) {
  .dashboard-main {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}